# Ignore .DS_Store files on macOS
.DS_Store

# Ignore data folder
data/
src/old
scripts/ref/
notebooks/output/
notebooks/experiments/
output/
test_output/
# Ignore model weights (optional)
model/
exp/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE settings (VS Code, etc.)
.vscode/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
